<!DOCTYPE html>
<html lang="en">
<head>
   <%include includeHead%>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/admin/" class="site_title"><i class="fa fa-paw"></i> <span>TechNoViet</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="images/images.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2><%=adminName%></h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/admin/infor"><i class="fa fa-info-circle"></i> Information</a>
                                </li>
                                <li 
                                    <% if(roleName != "boss") { %>
                                            style="display:none"
                                    <% } %>
                                >
                                        <a href="/admin/all"><i class="fa fa-user"></i> Employee</a>
                                </li>
                                <li>
                                        <a href="/admin/order"><i class="fa fa-list-ul"></i> Order</a>
                                </li>
                                <li>
                                        <a href="/admin/exp"><i class="fa fa-thumbs-up"></i>Experience</a>
                                </li>
                                <li>
                                        <a href="/admin/certification"><i class="fa fa-map"></i></i>Certification</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/feature"><i class="fa fa-adjust"></i>Feature</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/technology"><i class="fa fa-laptop"></i>Technology</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/component"><i class="fa fa-spinner"></i>Component</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/introduction"><i class="fa fa-bullhorn"></i>Introduction</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/uses"><i class="fa fa-angle-double-right"></i>Uses</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/user_manual"><i class="fa fa-child"></i>Usage manual</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/slide"><i class="fa fa-slideshare"></i>Slide</a>
                                </li>
                                <li>
                                        <a href="/admin/dynamic/dosage"><i class="fa fa-coffee"></i>Dosage</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-user-md"></i>Product recognitionr<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/admin/dynamic/product_recognition">details of Product recognition</a></li>                           
                                        <li><a href="/admin/imgUserMannual">Edit image</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/admin/logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt=""><%=adminName%>
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/admin/inforStaff"> Staff information</a></li>
                                    <li><a href="/admin/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green"><%=ordersNotSeen.length%></span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <% 
                                    var length = ordersNotSeen.length > 3 ? 3 : ordersNotSeen.length;
                                    for(let i = 0; i < length; i++){
                                        const {customerName, email, phone, distanceTime} = ordersNotSeen[i];
                                        %>

                                    <li>
                                        <a href="admin/order">
                                            <i class="fa fa-envelope"></i>
                                            <span>
                                                <span><%= customerName%></span>
                                                <span class="time"><%= distanceTime%></span>
                                            </span>
                                            <span class="message">
                                                <%= phone%>
                                            </span>
                                        </a>
                                    </li>
                                    <%}%>
                                    <li>
                                        <div class="text-center">
                                            <a href="admin/order">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <%-include("pages/"+page)%>
                <!-- /top tiles -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <!-- <footer>
                <div class="pull-right">
        
                </div>
                <div class="clearfix"></div>
            </footer> -->
            <!-- /footer content -->
        </div>
    </div>
   <% include includeBot%>
</body>
</html>
