<section class="hg_section pt-100 pb-100" id="cacthanhphan" style=" background-color: rgba(240, 238, 230, 0.91)">
	<div class="container">
		<h1 style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
			font-family: 'Arima Madurai', cursive; font-size:35px;">Thành
			phần bao gồm các thảo dược quý</h1>
		<hr style=" width:400px; margin-left:340px;  border:1px solid rgba(255,0,0,0.65);">
		<div class="row">
			<%
				var countHighLight = 1;
				data.component.forEach(com => {
					if(com.isHighLight)
					{
						if(countHighLight % 2 != 0)
						{
			%>

			<div class="col-sm-12 col-md-12">
				<!-- Screenshot box element -->
				<div class="screenshot-box">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6">
							<!-- Left side -->
							<div class="left-side">
								<!-- Title -->
								<h3 class="title">
									<span class="fw-thin">
										<h1 style="Color:rgba(255,0,0,0.65); font-size:25px; ">
											<%=com.title%>
										</h1>
										<span class="fw-semibold" style="color:orange;">
											<%=com.unit%></span>
										<hr>
										<p style="color:black; font-family: 'Comfortaa', cursive; font-size:18px;">
											<%=com.content%>
										</p>
									</span>
								</h3>


								<ul class="features">
									<!-- Item #1 -->
									<li>

									</li>
									<!--/ Item #1 -->
								</ul>
								<!--/ Features list -->
							</div>
							<!--/ Left side -->
						</div>
						<!--/ col-sm-12 col-md-12 col-lg-6 -->

						<div class="col-sm-12 col-md-12 col-lg-6">
							<!-- Screenshot-box slider -->
							<div class="screenshot-slider">

								<div>
									<img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%= com.imagePrimary%>" width="580" height="380" alt="" title="" />
								</div>
							</div>
						</div>

					</div>
					<!--/ col-sm-12 col-md-12 col-lg-6 -->
				</div>
				<!--/ row -->
			</div>
			<% 
			countHighLight++;
				} else { %>
			<div class="col-sm-12 col-md-12" style="margin-top:50px;">
				<!-- Screenshot box element -->
				<div class="screenshot-box">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6">
							<!-- Left side -->
							<div class="left-side">
								<!-- Title -->
								<div>
									<img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%= com.imagePrimary%>" width="580" height="380" alt="" title="" style="padding-top:17px;" />
								</div>



								<ul class="features">
									<!-- Item #1 -->
									<li>

									</li>
									<!--/ Item #1 -->
								</ul>
								<!--/ Features list -->
							</div>
							<!--/ Left side -->
						</div>
						<!--/ col-sm-12 col-md-12 col-lg-6 -->

						<div class="col-sm-12 col-md-12 col-lg-6">
							<!-- Screenshot-box slider -->
							<div class="screenshot-slider">
								<h3 class="title">
									<span class="fw-thin">
										<h1 style="Color:rgba(255,0,0,0.65); font-size:25px; ">
											<%= com.title%>
										</h1>
										<span class="fw-semibold" style="color:orange;">
											<%= com.unit%></span>
										<hr>
										<p style="color:black;  font-family: 'Comfortaa', cursive; font-size:18px;">
											<%= com.content%>
										</p>
									</span>
								</h3>

							</div>
							<!--/ .js-slick -->

							<!-- Slick navigation -->

						</div>
						<!--/ Screenshot-box slider -->
					</div>
					<!--/ col-sm-12 col-md-12 col-lg-6 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ Screenshot box element -->
			<!-- Thành Phần Khác -->
			<%  
			countHighLight++;
				}
			} else {
			%>
			<div class="col-sm-12 col-md-6 col-lg-3">

				<!--/ Image Box style 4 - left symbol style -->
				<div class="box image-boxes imgboxes_style4 kl-title_style_left">
					<!-- Image Box anchor link -->
					<a class="imgboxes4_link imgboxes-wrapper" href="" target="_blank">
						<!-- Image -->
						<img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%= com.imagePrimary%>" class="img-fluid imgbox_image cover-fit-img" alt="RESCUE SUPPORT"
						 title="RESCUE SUPPORT" />
						<!--/ Image -->

						<span class="imgboxes-border-helper"></span>

					</a>
					<h4 style="color:rgba(255,0,0,0.65); text-align:center;">
						<strong>
							<%= com.title%></strong>

					</h4>
					<p style="color:rgba(255,0,0,0.65); text-align:center; font-size:14px;">
						<%= com.unit%>
					</p>
					<!--/ Image Box anchor link -->

					<!-- Description -->


					<p style="text-align:center;  font-family: 'Comfortaa', cursive;">
						<%= com.content%>
					</p>
					<!--/ Description -->
				</div>
				<!--/ Image Box style 4 - left symbol style -->
			</div>
			<% }
				}) %>
			<!-- / Thành Phần Khác -->
		</div>
		<!--/ col-sm-12 col-md-12 -->
	</div>
	<!--/ container -->
</section>