<% data.technology.forEach(tech => { 
	if(tech.isHighLight) {
	%>
<div class="kl-title-block clearfix text-center tbk-symbol-- tbk-icon-pos--after-title" id="congnghe">
	<!-- Title with kl-font-alt font, custom font size, bold style and light gray color -->
	<h3 class="tbk__title kl-font-alt fs-xxxl fw-bold " style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
		font-family: 'Arima Madurai', cursive; font-size:35px;">
		<%=tech.title%>
	</h3>
	<!--/ Title with kl-font-alt font, custom font size, bold style and light gray color -->

	<!-- Sub-Title with custom font size an very thin style -->
	<h4 class="tbk__subtitle fw-vthin" style=" font-family: 'Comfortaa', cursive; font-size:20px;">
			<%=tech.content%>

	</h4>
	<!--/ Sub-Title with custom font size an very thin style -->
</div>
<% }
})
%>
<section class="hg_section bg-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="row gutter-md">
					<!--/ foreach -->
					<% data.technology.forEach(tech => { 
						if(!tech.isHighLight) {
							%>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<!-- Icon box float left -->
						<div class="kl-iconbox kl-iconbox--fleft text-left">
							<div class="kl-iconbox__inner">
								<!-- Icon -->
								<div class="kl-iconbox__icon-wrapper">
									<img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%=tech.imagePrimary%>" style="width:100px;" class="kl-iconbox__icon" alt="Stunning Template">
								</div>
								<!--/ Icon -->

								<!-- /.kl-iconbox__icon-wrapper -->
								<div class="kl-iconbox__content-wrapper">
									<!-- Title -->
									<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
										<h3 class="kl-iconbox__title fs-m fw-normal gray2">
											<%=tech.title%>
										</h3>
									</div>
									<!--/ Title -->

									<!-- Description -->
									<div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
										<p class="kl-iconbox__desc fs-14 gray" style=" font-family: 'Comfortaa', cursive;">
												<%=tech.content%>>
										</p>
									</div>
									<!--/ Description -->
								</div>
								<!-- /.kl-iconbox__content-wrapper -->
							</div>
							<!--/ kl-iconbox__inner -->
						</div>
						<!--/ Icon box float left -->
					</div>
					<% } 
					})%>
					<!--/ endForeach -->
				</div>
				<!--/ row gutter-md -->
			</div>
			<!--/ col-lg-10 offset-lg-1 -->
		</div>
		<!--/ row -->
	</div>
	<!--/ container-fluid -->
</section>