<% include('../functionCheck') %>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <h3><a href="/admin/dynamic/<%=dynamicForm%>  " style="text-decoration: underline">List <%=dynamicForm%></a></h3>
    </li>
    <li class="breadcrumb-item active">update <%=dynamicForm%></h3></li>
</ol>
<br>
<%if(messages.length !== 0){ %>
  <div class="container"><a class="alert-success" style="padding:15px 250px;font-size:18px">Notify: <%=messages%></a></div>
<% } %>
<br>
<form action="/admin/dynamic/update/<%=feat._id%>" enctype="multipart/form-data" method="POST">
    <div class="form-group"
    <% if(!checkHide(dynamicForm,"title")){ %>
      hidden
    <%}%>
    >
      <label>Title</label>
      <input type="text" class="form-control" name="title" value="<%=feat.title%>">
    </div>
    <div class="form-group"
    <% if(!checkHide(dynamicForm,"content")){ %>
      hidden
    <% } %>
    >
      <label>Content</label>
      <input type="text" class="form-control"  name="content" value="<%=feat.content%>">
    </div>
      <div class="form-group"
      <% if(!checkHide(dynamicForm,"unit")){ %>
        hidden
      <%}%>
      >
      <label>unit</label>
      <input type="text" class="form-control" name="unit" value="<%=feat.unit%>">
      <br>
    </div>
    <div class="form-group"
    <% if(!checkHide(dynamicForm,"imagePri")){ %>
      hidden
    <%}%>
    >
      <label>image Primary</label>
      <img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%=feat.imagePrimary%>" alt="not found" width="50px">
      <br>
      <br>
      <input type="file" class="form-control-file" name="imagePrimary">
      <br>
    </div>
      <hr>
      <div class="form-group"
      <% if(!checkHide(dynamicForm,"imageSub")){ %>
        hidden
      <%}%>
      >
      <label>image Sub</label>
      <img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%=feat.imageSub%>" alt="not found" width="50px">
      <br>
      <br>
      <input type="file" class="form-control-file" name="imageSub">
      <br>
    </div>
    <div class="form-group"
        <% if(!checkHide(dynamicForm,"highlight")){ %>
          hidden
        <%}%>
    >
      <% if(feat.isHighLight){ %>
        <label class="checkbox-inline"><input type="checkbox" name="isHighLight" checked >Highlight</label>
      <% } else { %>
        <label class="checkbox-inline"><input type="checkbox" name="isHighLight" >Highlight</label>
      <% } %>
      <br>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Update</button>
  </form>