<% include('../functionCheck') %>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <h3><a href="/admin/dynamic/<%=dynamicForm%>  " style="text-decoration: underline">List <%=dynamicForm%></a></h3>
    </li>
    <li class="breadcrumb-item active">Insert <%=dynamicForm%></h3></li>
</ol>
<br>
<%if(messages.length !== 0){ %>
  <div style="margin: 0 0;width:100%;text-align:center;">
    <p class="alert-success" style="padding:15px 250px;font-size:18px">Notify: <%=messages%></p>
</div>
<% } %>
<br>
<div class="container">
    <form action="/admin/dynamic/<%=dynamicForm%>/create" enctype="multipart/form-data" method="POST">
      <div class="form-group"  
      <% if(!checkHide(dynamicForm,"title")){ %>
        hidden
      <%}%>
    >
        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Enter Title" name="title">
      </div>
      <div class="form-group"
        <% if(!checkHide(dynamicForm,"content")){ %>
          hidden
        <%}%>
      >
        <label>Content:</label>
        <textarea  class="form-control" name="content" id="" cols="50" rows="8"></textarea>
      </div>
      <div class="form-group"
      <% if(!checkHide(dynamicForm,"unit")){ %>
        hidden
      <%}%>
      >
        <label>Unit:</label>
        <input type="text" class="form-control" placeholder="Enter Unit" name="unit">
      </div>
      <div class="form-group"
      <% if(!checkHide(dynamicForm,"imagePri")){ %>
        hidden
      <%}%>
      >
        <label>image Primary:</label>
        <input type="file" name="imagePrimary">
      </div>

      <div class="form-group" 
      <% if(!checkHide(dynamicForm,"imageSub")){ %>
        hidden
      <%}%>
      >
        <label>image Sub:</label>
        <input type="file" name="imageSub">
      </div>

      <div class="form-group" 
      <% if(!checkHide(dynamicForm,"highlight")){ %>
        hidden
      <%}%>
      >
        <label>Highlight :</label>
        <input type="checkbox" name="isHighLight">
      </div>
      <button type="submit" class="btn btn-success">Insert</button>
    </form>
</div>