<%if(messages.length !== 0){ %>
    <div style="margin: 0 0;width:100%;text-align:center;">
        <p class="alert-success" style="padding:15px 250px;font-size:18px">Notify: <%=messages%></p>
    </div>
<% } %>
<h3>List order</h3>
    <table id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                   <th>Order id </th>
                   <th>Customer</th>
                   <th>Email</th>
                   <th>Phone</th>
                   <th>Required date</th>
                   <th>Seen</th>
               </tr>
           </thead>
           <tbody>
               
                <%orders.forEach(o=>{
                    const { _id,customerName, email, phone, isSeen, dateToString } = o;
                    %>  
                <tr>
                   <% if (isSeen) { %>
                    <th><a><%= _id%></a></th>
                  <% } %>
                  <% if (!isSeen) { %>
                    <th><a href="/admin/order/<%= _id%>" style="color:red;	text-decoration: underline;"><%= _id%></a></th>
                    <th><a href="/admin/order/<%= _id%>" style="color:red;	text-decoration: underline;"><%= customerName%></a></th>
                    <th><a href="/admin/order/<%= _id%>" style="color:red;	text-decoration: underline;"><%= email%></a></th>
                    <th><a href="/admin/order/<%= _id%>" style="color:red;	text-decoration: underline;"><%= phone%></a></th>
                    <th><a href="/admin/order/<%= _id%>" style="color:red;	text-decoration: underline;"><%= dateToString%></a></th>
                    <th><a href="/admin/order/<%= _id%>" style="color:red;	text-decoration: underline;">Đánh dấu đã xem</a></th>
                  <% } %>   

                   <% if (isSeen) { %>
                    <td><%= customerName%></td>
                    <td><%= email%></td>
                    <td><%= phone%></td>   
                    <th><%= dateToString%></th> 
                    <th><a>Đã xem</a></th>
                    <% } %>
                </tr> 
                   <% }) %>             
           </tbody>
    </table>
    <script src="admin/vendors/jquery/dist/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
                $('#datatable').dataTable( {
                    "ordering": false
                    } );
            });
    </script>