<h3><a href="admin/signup" style="text-decoration: underline;">Add new employess</a></h3>
<%if(messages.length !== 0){ %>
  <div style="margin: 0 0;width:100%;text-align:center;">
    <p class="alert-success" style="padding:15px 250px;font-size:18px">Notify: <%=messages%></p>
</div>
<% } %>
<br>
<br>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Delete</th>
        <!-- <th>Edit</th> -->
      </tr>
    </thead>
    <tbody>
      <% employees.forEach(e => { 
        const {_id,name,role,email,address,phone} = e
        %>
      <tr>
        <td><%= name %></td>
        <th><%= role.name %></th>
        <td><%= email %></td>
        <td><%= address %></td>
        <td><%= phone %></td>
        <td class="center"><i class="fa fa-trash-o fa-fw"></i><a href="admin/remove/<%=_id%>"> delete</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>