<h3><a href="admin/all/formInsert" style="text-decoration: underline;">insert employess</a></h3>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>role</th>
        <th>email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Delete</th>
        <!-- <th>Edit</th> -->
      </tr>
    </thead>
    <tbody>
      <% employees.forEach(e => { 
        const {_id,name,role,email,address,phone} = e
        %>
      <tr>
        <td><%= name %></td>
        <th><%= role.name %></th>
        <td><%= email %></td>
        <td><%= address %></td>
        <td><%= phone %></td>
        <td class="center"><i class="fa fa-trash-o fa-fw"></i><a href="admin/remove/<%=_id%>"> delete</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>