<form action="/admin/dynamic/update/<%=feat._id%>" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <label>title</label>
      <input type="text" class="form-control" name="title" value="<%=feat.title%>">
      <label>Content</label>
      <input type="text" class="form-control"  name="content" value="<%=feat.content%>">
      <label>unit</label>
      <input type="text" class="form-control" name="unit" value="<%=feat.unit%>">
      <br>
      <label>image Primary</label>
      <img src="images/admin/<%=feat.imagePrimary%>" alt="not found" width="50px">
      <input type="file" class="form-control-file" name="imagePrimary">
      <br>
      <hr>
      <label>image Sub</label>
      <img src="images/admin/<%=feat.imageSub%>" alt="not found" width="50px">
      <input type="file" class="form-control-file" name="imageSub">
      <br>
      <% if(feat.isHighLight){ %>
        <label class="checkbox-inline"><input type="checkbox" checked value="">highlight</label>
      <% } else { %>
        <label class="checkbox-inline"><input type="checkbox" value="">highlight</label>
      <% } %>
      <br>
    </div>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Update</button>
  </form>